.register {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .title {
    font-size: 2rem;
    font-weight: 600;
    color: $color-primary;
  }

  .error-message {
    color: red;
    font-weight: 500;
  }

  .register-form {
    max-width: 400px;
  }
}
